.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 10rem auto;
  width: 90%;
  max-width: 1200px;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer-btn {
  width: 50%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  background-color: #2b3144;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.footer-btn:hover {
  background-color: rgba(43, 49, 69, 0.9);
  text-decoration: underline;
}

.ul > li {
  padding: 5px;
  cursor: pointer;
}
